#test
.ts
.log
.obj
.exe
.dll
.pdb

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.rar
*.dll
obj/Debug/RTT.pdb
*.exe
*.pdb
bin/Debug/default.ts
*.Log
*.Config
bin/Debug/WindowsFormsApplication1.vshost.exe.manifest
*.ts
*.txt
*.manifest
bin/x86/20M_30.72_3.3/20M_30.72_3.3.cdl3
*.xml
bin/x86/Release/rtpclient.py
*.bak
obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
obj/Debug/RTT.ButtonDataForm.resources
*.resources
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
